body {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    text-align: center;
    /* font-family: Arial, Helvetica, sans-serif; */
}

input[type="text"] {
    width: 110px;
}

input[type="date"] {
    width: 120px;
}

input[type="time"] {
    width: 120px;
}

.eventDetails {
    color: #FCC89B;
    position: relative;
}

.convertedInfo {
    color: #FF5FA2;
}

/* 
form {
    color: blue;
    align-items: center;
}
 */

.show {display: block;}

h2 {
    color: red;
}