body {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: lightblue;
}

.eventDetails {
    color: #FCC89B;
    position: relative;
}

.convertedInfo {
    color: #FF5FA2;
}

form {
    color: blue;
    align-items: center;
}

.show {display: block;}

h2 {
    color: green;
}